
nav a{
    text-decoration: none;
    color: yellow;

}

body {
    margin-left: 10px;
    background-color: orangered;
    margin: 10px;
}
header {
    text-align: center;
    background-color: green;
}

#section1 {
    background-color: red;
    color: yellow;
}

#section1 img{
  
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
  width: 50%;
  border-radius: 10%;
}

#section1 p {
    max-width: 20%;
    display: inline-block;
}

#section2 {
    background-color: goldenrod;
    color: red;
}

header {
    margin-bottom: 20px;
}

#section1, #section2, footer {
    margin: 10px;
}
.s2p {
    border-radius: 15%;
}

footer {
    background-color: gray;
    color: blue;
}

.bottom {
    border: 5px solid purple;
    display: inline-block;
    width: 40%;
}

.bottom img {
    max-width: 90%;
}